<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Health +</strong>. The experiment code
        <a href="#">Express</a>. UI Website library
        <a href="https://buefy.github.io">Buefy</a> & <a href="http://bulma.io/">Bulma</a>.
      </p>
      <p>
        <a class="icon" href="#">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
