<!-- footer -->
<footer style="margin-top:33%;" class="footer-cust">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Clinic+</strong> by <a href="#">wisnuDj</a> and <a href="#">aditreza</a>. The experiment code
        <a href="#">express</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
