<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="assets/png/health-logo-01.png" alt="">
    </a>

    <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-lg fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="#">
          Home
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="#">
            Overview
          </a>
          <a class="navbar-item " href="#">
            Vision
          </a>

          <a class="navbar-item is-active" href="#">
              Components
            </a>

          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong>0.6.0</strong>
              </p>

              <small>
                  <a class="bd-view-all-versions" href="#">View all versions</a>
                </small>

            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link " href="#">
          Blog
        </a>
        <div id="blogDropdown" class="navbar-dropdown is-boxed" data-style="width: 18rem;">

          <a class="navbar-item" href="#">
            <div class="navbar-content">
              <p>
                <small class="has-text-link">09 Oct 2017</small>
              </p>
              <p>Roses are red – Links are blue</p>
            </div>
          </a>

          <a class="navbar-item" href="#">
            <div class="navbar-content">
              <p>
                <small class="has-text-link">03 Aug 2017</small>
              </p>
              <p>New feature: list of tags</p>
            </div>
          </a>

          <a class="navbar-item" href="#">
            <div class="navbar-content">
              <p>
                <small class="has-text-link">01 Aug 2017</small>
              </p>
              <p>Bulma / Bootstrap comparison</p>
            </div>
          </a>

          <a class="navbar-item" href="#">
            More posts
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div class="navbar-content">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <strong>Stay up to date!</strong>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a class="button bd-is-rss is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-rss"></i>
                      </span>
                      <span>Subscribe</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          Contact
        </div>
        <div id="moreDropdown" class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="#">
            <p>
              <strong>Made with Bulma</strong>
              <br>
              <small>The official community badge</small>
            </p>
          </a>
          <a class="navbar-item " href="#">
            <p>
              <strong>Extensions</strong>
              <br>
              <small>Side projects to enhance Bulma</small>
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <!-- <a class="navbar-item is-hidden-desktop-only" href="#" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>
      <a class="navbar-item is-hidden-desktop-only" href="#" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-lg fa-twitter"></i>
        </span>
      </a> -->
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button">
              <span class="icon">
                <i class="fa fa-user-circle-o"></i>
              </span>
              <span>
                Dr. Wisnu
              </span>
            </a>

          </p>
          <p class="control">
            <a class="button is-info is-outlined" href="/logout">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
              <span>Logout</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
