<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/dokter/add" method="post">
      <input type="input" name="name" placeholder="name">
      <input type="input" name="spesialis" placeholder="spesialis">
      <input type="input" name="jeniskelamin" placeholder="jeniskelamin">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
