<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/style/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/style/custom.css" type="text/css">
  <link rel="stylesheet" href="assets/style/buefy.min.css">
  <title><%=title%></title>
</head>
<body>
  <header>
		<div class="container">
			<% include assets/partials/top-nav %>
		</div>
	</header>

  <!-- hero -->
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome to Clinic Plus
          </h1>
          <h2 class="subtitle">
            I hope you are having a great day!
          </h2>
        </div>
      </div>
    </section>

	<div style="margin-top: 3%; margin-bottom: 3%;" class="container-cust">
		<div id="sidebar">
			<div class="sidebar__inner">
				<% include assets/partials/menu-panel %>
			</div>
		</div>


		<div id="content">
      <div style="a:2px; text-align:left; margin-bottom:25px;">
        <h1 style=" color: black; font-size:36px; margin-bottom:13px;">Dashboard</h1>
        <% include assets/partials/menu-nav %>
      </div>
      <!-- this content -->
            <div style="margin-top:12px;" class="columns">
              <div style="color:white; background-color: #7957d5;" class="isi_kotak kotak">
                <%=data_DokterToEjs.length%> <span style="font-size:23px;">Dokter</span>
              </div>
              <div style="color:white; background-color: #3273dc;" class="isi_kotak kotak">
                <%=data_PasienToEjs.length%> <span style="font-size:23px;">Pasien</span>
              </div>
            </div>

            <div class="content">

              <blockquote>Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est tellus sit amet turpis.</blockquote>
              <p>Quisque at semper enim, eu hendrerit odio. Etiam auctor nisl et <em>justo sodales</em> elementum. Maecenas ultrices lacus quis neque consectetur, et lobortis nisi molestie.</p>
              <p>Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus. Maecenas vestibulum interdum commodo.</p>
              <blockquote>Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est tellus sit amet turpis.</blockquote>
              <p>Quisque at semper enim, eu hendrerit odio. Etiam auctor nisl et <em>justo sodales</em> elementum. Maecenas ultrices lacus quis neque consectetur, et lobortis nisi molestie.</p>
              <p>Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus. Maecenas vestibulum interdum commodo.</p>
              <blockquote>Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est tellus sit amet turpis.</blockquote>
              <p>Quisque at semper enim, eu hendrerit odio. Etiam auctor nisl et <em>justo sodales</em> elementum. Maecenas ultrices lacus quis neque consectetur, et lobortis nisi molestie.</p>
              <p>Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus. Maecenas vestibulum interdum commodo.</p>
              <blockquote>Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est tellus sit amet turpis.</blockquote>
              <p>Quisque at semper enim, eu hendrerit odio. Etiam auctor nisl et <em>justo sodales</em> elementum. Maecenas ultrices lacus quis neque consectetur, et lobortis nisi molestie.</p>
              <p>Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus. Maecenas vestibulum interdum commodo.</p>

            </div>
            <!-- this content -->
		</div>
	</div>

	<footer>
		 <% include assets/partials/footer %>
	</footer>
    <% include assets/partials/sticky %>

</body>
</html>
