<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/pasien/add" method="post">
      <input type="input" name="name" placeholder="name">
      <input type="input" name="jeniskelamin" placeholder="jenis kelamin">
      <input type="input" name="usia" placeholder="usia">
      <input type="input" name="pekerjaan" placeholder="pekerjaan">
      <input type="input" name="alamat" placeholder="alamat">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
