<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/style/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/style/custom.css" type="text/css">
  <title><%=title%></title>
</head>
<body>

  <div style="margin:auto; width: 50%;">
      <!-- <H1 style="text-align: center;">ADD TEACHER</H1> -->
      <div style="text-align: center; margin-top:22px;">
        <p class="title is-2">Add Exam</p>
        <p class="subtitle is-5">Input Pasien ID, Dokter ID, Tanggal, Penyakit & Catatan Dokter</p>
      </div>


      <div style="margin-top: 10%;">
        <form action="/periksa/add/<%=dataDiagnosis.id%>" method="post">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" placeholder="PasienId" name="PasienId">
              <span class="icon is-small is-left">
                <i class="fa fa-user-o"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" placeholder="DokterId" name="DokterId">
              <span class="icon is-small is-left">
                <i class="fa fa-user-md"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="date" placeholder="tglperiksa" name="tglperiksa">
              <span class="icon is-small is-left">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" placeholder="Search Penyakit" list="penyakit" name="DiagnosisId">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
              <datalist id="penyakit">
                <%for(var i = 0; i < dataDiagnosis.length; i++){%>
                <option value="<%=dataDiagnosis[i].id%>"><%=dataDiagnosis[i].penyakit%></option>
                <%}%>
              </datalist>
            </div>
          </div>

          <textarea class="textarea" placeholder="e.g. Catatan Dokter" name="catatandokter" ></textarea>

          <div style="text-align: center; margin-top:33px;" class="control">
            <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
            <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
          </div>
        </form>

      </div>
      <div style="text-align: center;margin-top:5%;">
        <a style="text-decoration: none;" href="/periksa">show all Exam</a>
      </div>
    </div>

</body>
</html>
