<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="" method="post">
      <input type="input" name="PasienId" placeholder="PasienId">
      <input type="input" name="DokterId" placeholder="DokterId">
      <input type="input" name="DiagnosisId" placeholder="DiagnosisId">
      <input type="date" name="tglperiksa" placeholder="tglperiksa">
      <input type="text" name="catatandokter" placeholder="catatandokter">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
